<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-dischi</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="./css/styles.css">
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <header class="topheader">
            <img src="./img/logo.png" alt="logo ">
        </header>
        <main class="container">
            <div class="filter">
                filter by genre
                <select v-model="genres" @change="filtgen">
                    <option value="all">All</option>
                <option value="pop">Pop</option>
                <option value="rock">Rock</option>
                <option value="metal">Metal</option>
                <option value="jazz">Jazz</option>
                </select>
                
            </div>
            <ul class="albumlist">
                <li class="album" v-for="album in albums" > 
                    <div class="immagine">
                        <img :src="album.poster" :alt="album.title">
                    </div>
                    <h3 class="title">{{ album.title }}</h3>
                    <div class="author"> {{ album.author}} </div>
                    <div class="year"> {{ album.year }}</div>
                    <div class="genre"> {{album.genre}} </div>
                </li>
            </ul>
       </main>
    </div>
   
    
    <!-- javascript -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./javascript/main.js"></script>
</body>
</html>